.uploaded_image {
    height: 250px;
    margin: 20px auto;
}

.emoji {
    height: 50px;
    margin-top: 20px;
}

input[type="file"] {
    height: 30px;
    padding: 10px;
}

input.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.uploader_bg {
    background-color: #e5e5e5;
    height: 150px;
    align-content: center;
}

.select_label {
    font-family: Arial;
    font-size: 20px;
    padding-top: 50px;
}

.chooser_label {
    background-color: #e5e5e5;
}

.select-image-btn input[type=file] {
    font-size: 50px;
    position: center;
    font-family: Arial;
}

.result {
    position: relative;
    background-color: #b2b2b2;
    height: 750px;
}

.select-image-label input[type=file] {
    font-size: 50px;
    float: right;
    font-family: Arial;
    text-align: right;
}
