.uploaded_image {
    height: 250px;
}

.emoji {
    height: 50px;
}

input[type="file"] {
    height: 30px;
    padding: 10px;
    font-family: Arial, serif;
    font-size: larger;
    align-content: center;
}

.uploader_bg {
    background-color: #e5e5e5;
    height: 150px;
    align-content: center;
}

.select_label {
    font-family: Arial;
    font-size: 20px;
    top: 20px;
}

.chooser_label {
    background-color: #e5e5e5;
}

.select-image-btn input[type=file] {
    font-size: 50px;
    position: center;
    font-family: Arial;
}

.result {
    position: relative;
    background-color: #b2b2b2;
    height: 350px;
}

.select-image-label input[type=file] {
    font-size: 50px;
    float: right;
    font-family: Arial;
    text-align: right;
}
