body {
  text-align: center;
}

.App-header {
  background-image: url(banner.jpg);
  height: 160px;
  padding: 20px;
  color: white;
  background-repeat: no-repeat;
}

.App-intro {
  font-size: large;
}

.App-ticker {
  font-size: medium;
}
